.input-range {
  height: 1rem;
  position: absolute;
  bottom: -30px;
  width: 120px;
  z-index: 999;

  &__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: orange;
    box-shadow: 0px 0px 3px 5px rgba(255,255,255,1);
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    width: 1rem;

    &:active {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }

    &:focus {
      box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
    }
  }

  .input-range__slider-container {
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out; 
  }

  .input-range--disabled {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
  }

  &__label {
    color: #aaaaaa;
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap; 
    display: none;
  }

  &__label--min,
  &__label--max {
    bottom: -1.4rem;
    position: absolute;
    display: none; 
  }

  &__label--min {
    left: 0; 
  }

  &__label--max {
    right: 0; 
  }

  &__label--value {
    position: absolute;
    top: -1.8rem; 
  }

  &__label-container {
    left: -50%;
    position: relative;
  }

  &__label--max &__label-container {
    left: 50%; 
  }

  &__track {
    background: white;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
    transition: left 0.3s ease-out, width 0.3s ease-out; 
  }

  .input-range--disabled &__track {
    background: black; 
  }

  &__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; 
  }

  &__track--active {
    background: orange;
  }
}

.musicOptions {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);
  position: relative;

  /* width: 64px;
  height: 64px;
  cursor: pointer;
  border-radius: 50%;
  background: url(../img/settingsBg.png);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative; */

  &:focus {
    outline: none;
  }

  &__speaker {
    width: 50px;
    height: 50px;
    display: block;
  }
}

@media screen and(max-width: 600px) {
  .musicOptions {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    position: relative;

    &__speaker {
      width: 30px;
      height: 30px;
    }
  }

  .input-range {
    bottom: -20px;
    width: 80px;

    &__slider {
      height: 10px;
      margin-left: -5px;
      margin-top: -7px;
      width: 10px;
    }
  }
}
  